<div class="diagramDetailOverlay" *ngIf="diagram">
  <div class="diagramDetailOverlay__backdrop" (click)="handleGoBack()"></div>

  <div class="diagramDetail">
    <div class="diagramDetail__editingBanner" *ngIf="showEditingBanner">
      <strong>{{ editingUser?.username }}</strong> {{ PHRASES.BEING_EDITED_BY | translate }}
    </div>

    <div class="diagramDetail__header">
      <app-icon-button icon="x" [tooltip]="PHRASES.CLOSE | translate" (pressed)="handleGoBack()"></app-icon-button>

      <div class="diagramDetail__actions" *ngIf="mode === 'view'">
        <app-button variant="ghost" (pressed)="handleDelete()">{{ PHRASES.DELETE | translate }}</app-button>
        <app-button variant="primary" (pressed)="handleEdit()">{{ PHRASES.EDIT | translate }}</app-button>
      </div>
      <div class="diagramDetail__actions" *ngIf="mode === 'edit'">
        <app-button variant="ghost" (pressed)="handleCancel()">{{ PHRASES.CANCEL | translate }}</app-button>
        <app-button variant="primary" (pressed)="handleSave()">{{ PHRASES.SAVE | translate }}</app-button>
      </div>
    </div>

    <p class="authStatus" *ngIf="alertMessage">{{ alertMessage }}</p>

    <div class="diagramDetail__body">
      <div class="diagramDetail__main">
        <ng-container *ngIf="mode === 'view'">
          <h1 class="diagramDetail__title">{{ diagram.title }}</h1>
          <app-flowchart-editor [content]="diagram.content" [editable]="false"></app-flowchart-editor>
        </ng-container>

        <ng-container *ngIf="mode === 'edit'">
          <input
            type="text"
            class="diagramDetail__titleInput"
            [(ngModel)]="draftTitle"
            [placeholder]="PHRASES.PAGE_TITLE_PLACEHOLDER | translate"
          />
          <app-flowchart-editor
            [content]="draftContent"
            [editable]="true"
            (contentChange)="handleContentChange($event)"
          ></app-flowchart-editor>
        </ng-container>
      </div>

      <div class="diagramDetail__sidebar">
        <div class="diagramDetail__sidebarSection">
          <h3 class="diagramDetail__sidebarLabel">{{ PHRASES.OWNER | translate }}</h3>
          <p class="diagramDetail__sidebarValue">{{ diagram.creator.username }}</p>
        </div>

        <div class="diagramDetail__sidebarSection">
          <h3 class="diagramDetail__sidebarLabel">{{ PHRASES.CONTRIBUTORS | translate }}</h3>
          <p class="diagramDetail__sidebarValue" *ngIf="diagram.contributors.length">
            <span *ngFor="let contributor of diagram.contributors; let last = last">{{ contributor.username }}{{ last ? '' : ', ' }}</span>
          </p>
          <p class="diagramDetail__sidebarValue diagramDetail__sidebarValue--muted" *ngIf="!diagram.contributors.length">&mdash;</p>
        </div>

        <div class="diagramDetail__sidebarSection">
          <h3 class="diagramDetail__sidebarLabel">{{ PHRASES.CREATED | translate }}</h3>
          <p class="diagramDetail__sidebarValue">{{ diagram.createdAt | date }}</p>
        </div>

        <div class="diagramDetail__sidebarSection">
          <h3 class="diagramDetail__sidebarLabel">{{ PHRASES.LAST_EDITED | translate }}</h3>
          <p class="diagramDetail__sidebarValue">{{ diagram.updatedAt | date }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
