<main class="container">
  <div class="drawerContainer">
    <div class="buttonContainer">
      <button (click)="handleDrawerClick(drawer)" *ngFor="let drawer of drawers"
              [ngClass]="{'activeButton': drawer.id === currentOpenDrawerID, 'inactiveButton': drawer.id !== currentOpenDrawerID}"
              class="drawerButton">{{ drawer.name | translate }}
      </button>
    </div>
  </div>
  <div class="contentContainer">
    <ng-container *ngIf="drawers[currentOpenDrawerID] as selectedDrawer">
      <ng-container *ngComponentOutlet="selectedDrawer.component"></ng-container>
    </ng-container>
  </div>
</main>
