<ng-template #levelTemplate let-folders let-items="items" let-depth="depth">
  <ng-container *ngFor="let folder of folders">
    <div
      cdkDropList
      class="itemTree__dropZone"
      [class.itemTree__dropZone--invalid]="isDropZoneInvalid(toFolderDrop(folder))"
      [cdkDropListData]="toFolderDrop(folder)"
      [cdkDropListEnterPredicate]="dropPredicate"
      (cdkDropListDropped)="handleDrop($event)"
    >
      <div
        cdkDrag
        [cdkDragData]="toFolderDrag(folder)"
        (cdkDragStarted)="handleDragStarted(toFolderDrag(folder))"
        (cdkDragEnded)="handleDragEnded()"
        class="itemTree__row itemTree__row--folder"
        [style.paddingLeft.px]="depth * 20"
      >
        <app-icon-button
          icon="chevron-right"
          [tooltip]="folder.title"
          [size]="28"
          class="itemTree__chevron"
          [class.itemTree__chevron--expanded]="isExpanded(folder.id)"
          (pressed)="toggleExpand(folder.id)"
        ></app-icon-button>

        <button type="button" class="itemTree__rowMain" (click)="toggleExpand(folder.id)">
          <app-icon name="folder" class="itemTree__rowIcon"></app-icon>
          <span class="itemTree__rowTitle">{{ folder.title }}</span>
        </button>

        <div class="itemTree__rowActions">
          <app-icon-button
            icon="folder-plus"
            [tooltip]="PHRASES.NEW_FOLDER | translate"
            [size]="28"
            (pressed)="createFolder.emit({ parentId: folder.id })"
          ></app-icon-button>
          <app-icon-button
            icon="plus"
            [tooltip]="itemLabel"
            [size]="28"
            (pressed)="createItem.emit({ parentId: folder.id })"
          ></app-icon-button>
          <app-icon-button
            icon="trash"
            variant="danger"
            [tooltip]="PHRASES.DELETE_FOLDER | translate"
            [size]="28"
            (pressed)="requestDeleteFolder(folder)"
          ></app-icon-button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="isExpanded(folder.id)">
      <ng-container
        *ngTemplateOutlet="levelTemplate; context: { $implicit: folder.children, items: folder.items, depth: depth + 1 }"
      ></ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngFor="let item of items">
    <div cdkDropList class="itemTree__dropZone" [cdkDropListEnterPredicate]="neverAcceptsDrop">
      <button
        type="button"
        cdkDrag
        [cdkDragData]="toItemDrag(item)"
        (cdkDragStarted)="handleDragStarted(toItemDrag(item))"
        (cdkDragEnded)="handleDragEnded()"
        class="itemTree__row itemTree__row--item"
        [style.paddingLeft.px]="depth * 20 + 36"
        (click)="openItem.emit(item)"
      >
        <app-icon name="edit" class="itemTree__rowIcon"></app-icon>
        <span class="itemTree__rowTitle">{{ item.title }}</span>
        <span class="itemTree__rowMeta">{{ item.meta.creator.username }} &middot; {{ item.meta.updatedAt | date }}</span>
      </button>
    </div>
  </ng-container>
</ng-template>

<div class="itemTree" cdkDropListGroup>
  <div
    cdkDropList
    class="itemTree__rootDropZone"
    [class.itemTree__rootDropZone--active]="draggingNode !== null"
    [cdkDropListData]="rootDropTarget"
    [cdkDropListEnterPredicate]="dropPredicate"
    (cdkDropListDropped)="handleDrop($event)"
  ></div>

  <ng-container
    *ngTemplateOutlet="levelTemplate; context: { $implicit: rootFolders, items: rootItems, depth: 0 }"
  ></ng-container>
</div>

<app-delete-folder-dialog
  *ngIf="folderPendingDeletion"
  [folderTitle]="folderPendingDeletion.title"
  (confirmed)="handleDeleteConfirmed($event)"
  (cancelled)="handleDeleteCancelled()"
></app-delete-folder-dialog>
