<div class="pagesView">
  <div class="pagesView__toolbar">
    <input
      type="text"
      class="pagesView__search"
      [(ngModel)]="searchQuery"
      (ngModelChange)="handleSearchChange()"
      [placeholder]="PHRASES.SEARCH_PAGES | translate"
    />
    <app-button variant="ghost" icon="folder-plus" (pressed)="handleCreateFolder(null)">{{ PHRASES.NEW_FOLDER | translate }}</app-button>
    <app-button variant="primary" icon="plus" (pressed)="handleCreatePage(null)">{{ PHRASES.NEW_PAGE | translate }}</app-button>
  </div>

  <p class="authStatus" *ngIf="alertMessage">{{ alertMessage }}</p>

  <app-item-tree
    *ngIf="!isLoading"
    [folders]="folders"
    [items]="items"
    [itemLabel]="PHRASES.NEW_PAGE | translate"
    (openItem)="handleOpenPage($event)"
    (createFolder)="handleCreateFolder($event.parentId)"
    (createItem)="handleCreatePage($event.parentId)"
    (deleteFolder)="handleDeleteFolder($event)"
    (moveItem)="handleMoveItem($event)"
    (moveFolder)="handleMoveFolder($event)"
  ></app-item-tree>

  <p class="dashboardStub__body" *ngIf="!isLoading && !folders.length && !items.length">{{ PHRASES.NO_PAGES_YET | translate }}</p>
</div>
