<main>
  <div class="formContainer">
    <h2 class="h2 center"> {{ 'WELCOME_BACK' | translate }}</h2>

    <label class="inputLabel" for="emailInput">
      {{ 'EMAIL' | translate }}
      <input
        [(ngModel)]="email"
        [placeholder]="'ENTER_EMAIL' | translate"
        id="emailInput"
        type="email"
      />
    </label>

    <label class="inputLabel" for="passwordInput">
      {{ 'PASSWORD' | translate }}
      <input
        [(ngModel)]="password"
        [placeholder]="'ENTER_PASSWORD' | translate"
        id="passwordInput"
        type="password"
      />
    </label>

    <button (click)="handleLogin()">{{ 'LOGIN' | translate }}</button>
    <p> {{ alertMessage }} </p>
    <p> {{ 'NO_ACCOUNT_YET' | translate }} </p>
    <button (click)="handleGoToRegister()">{{ 'REGISTER' | translate }}</button>
  </div>
</main>
