<main>
  <div class="formContainer">
    <h2 class="h2 center"> {{ PHRASES.CREATE_ACCOUNT | translate }}</h2>

    <label class="inputLabel" for="emailInput">
      {{ PHRASES.EMAIL | translate }}
      <input
        [(ngModel)]="email"
        [placeholder]="PHRASES.ENTER_EMAIL | translate"
        id="emailInput"
        type="email"
      />
    </label>

    <label class="inputLabel" for="passwordInput">
      {{ PHRASES.PASSWORD | translate }}
      <input
        [(ngModel)]="password"
        [placeholder]="PHRASES.ENTER_PASSWORD | translate"
        id="passwordInput"
        type="password"
      />
    </label>

    <button (click)="handleRegister()">{{ PHRASES.REGISTER | translate }}</button>
    <p> {{ alertMessage }} </p>
    <p> {{ PHRASES.ALREADY_HAVE_ACCOUNT | translate }} </p>
    <button (click)="handleGoToLogin()">{{ PHRASES.LOGIN | translate }}</button>
  </div>
</main>
