:root {
  --color-background: #1e203a;
  --color-foreground: #272b4a;
  --color-primaryText: #fafeff;
  --color-secondaryText: #c2cbd8;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;

  --br-small: 0.5rem;

  --fs-body: 1.125rem;
}

[data-theme="light"] {
  --color-background: #ffffff;
  --color-foreground: #f5f5f5;
  --color-primaryText: #333333;
  --color-secondaryText: #666666;
}

body {
  background-color: var(--color-background);
  color: var(--color-primaryText);
  font-size: var(--fs-body);
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--color-background);
  color: var(--color-primaryText);
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: var(--br-small);
  border: none;
  font-size: var(--fs-body);
}

button:hover {
  cursor: pointer;
}

.mainContainer {
  width: 100%;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.h2 {
  margin: 0;
}

.inputLabel {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
